:root {
  font-family: sans-serif;

  --image-size: 800px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

div {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;

}

p {
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(110, 30, 215);
  }
  
.navBar li {
    float: right;
  }
  
.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navBar li a:hover {
  background-color: rgb(29, 244, 158);
}



.cropped-swim {
  font-size: 12.5em;
  font-weight: bold;
  text-align: center;
  
  background-image: url(images/swim.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.cropped-bike {
  font-size: 12.5em;
  font-weight: bold;
  text-align: center;
  
  background-image: url(images/bike.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.cropped-run {
  font-size: 12.5em;
  font-weight: bold;
  text-align: center;
  
  background-image: url(images/run.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}